Q1. List any five functions of the pandas library with execution.

Pandas is a versatile python library with many functions like:

In [4]:
import pandas as pd
#1)read data
df = pd.read_csv('addresses.csv')

In [8]:
#2)put custom indexes
a= ['a','b','c','d','e']
a_ = pd.Series(a, index=[1,2,3,4,5])

In [9]:
a_

1    a
2    b
3    c
4    d
5    e
dtype: object

In [10]:
#3)see the data
df.head()

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [11]:
#4)describe the data
df.describe()

              08075
count      5.000000
mean   21769.800000
std    39059.209909
min      123.000000
25%      298.000000
50%     8075.000000
75%     9119.000000
max    91234.000000

In [15]:
#5)get the mean of a series
s=[2,3,4,5,6,7]
m = pd.DataFrame(s)
m.mean()

0    4.5
dtype: float64

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [16]:
df = ['a','b','c']

In [22]:
pd.DataFrame(df, index=['1','3','5'])

   0
1  a
3  b
5  c

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [38]:
def sum_first_3():
    df1 = [1,2,3,4,5,6,7,8,9]
    df2 = pd.DataFrame()
    df2['Values'] = df1
    df2.head(3).sum()

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [12]:
import pandas as pd
def add_word_count(df):
    # Create a new column 'Word_Count' and populate it with the word count of each row in 'Text'
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

Q5. How are DataFrame.size() and DataFrame.shape() different?

Shape reffeers to the no of rows and columns of the datatable. It is given in a m x n format whereas size gives the no of rows in the dataframe

Q6. Which function of pandas do we use to read an excel file?

pd.read_excel

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [33]:
a = ['abcd@gmail.com','saksham@120spice.com','sudh@pwskills.com','sample@domain.com']
df = pd.DataFrame()
df['Email'] = a
df['Username'] = df['Email'].str.split('@').str[0]
df

                  Email Username
0        abcd@gmail.com     abcd
1  saksham@120spice.com  saksham
2     sudh@pwskills.com     sudh
3     sample@domain.com   sample

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [51]:
df = pd.DataFrame()

a = [3,8,6,2,9]
b = [1,7,9,5,2]
c = [1,7,4,5,2]
df['A'] = a
df['B'] = b
df['C'] = c
df1 = df[(df['A']>5) & (df['B']<10)]
df1

   A  B  C
1  8  7  7
2  6  9  4
4  9  2  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [56]:
df = pd.DataFrame()
a = [1,2,3,4,5,6,7,8,9]
df['Values'] = a
print(df['Values'].mean())
print(df['Values'].median())
print(df['Values'].mode())
print(df['Values'].std())

5.0
5.0
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: Values, dtype: int64
2.7386127875258306

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [49]:
import pandas as pd

df = pd.DataFrame()

def calculate_moving_average(df):
    # Sort the DataFrame by date in ascending order
    df = df.sort_values('Date')

    # Calculate the moving average using a window of size 7 and include the current day
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

# Example usage
# Assuming you have a DataFrame called 'df' with columns named 'Sales' and 'Date'
calculate_moving_average(df)

KeyError: 'Date'

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [11]:
import pandas as pd
import calendar 
import datetime as dt
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.day_name()
df

        Date        Day
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [14]:

df[(df['Date'] > pd.to_datetime('2023-01-01')) & (df['Date'] < pd.to_datetime('2023-01-31'))]

        Date        Day
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
As pandas is dependent on the numpy library, Numpy is the first and formost