In [9]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [10]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The function iloc takes only index value as arguement to give the required data while loc can take both index value or column name to give out the required data

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [11]:
new_df = df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [12]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [13]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

Yes, there is a difference in the outputs.The iloc function gives the output according to index value of the series while loc gives according to the new index value

In [14]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [15]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.168947  0.441153  0.521104  0.073950  0.158816  0.700049
2  0.397400  0.215345  0.732863  0.987735  0.745895  0.425834
3  0.053852  0.899382  0.293641  0.715571  0.047447  0.954252
4  0.049229  0.804471  0.502861  0.311477  0.336699  0.325649
5  0.385585  0.493328  0.625015  0.064558  0.863696  0.305910
6  0.633266  0.274559  0.737281  0.061861  0.696361  0.561785

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [16]:
df1.mean()

column_1    0.281380
column_2    0.521373
column_3    0.568794
column_4    0.369192
column_5    0.474819
column_6    0.545580
dtype: float64

In [17]:
df1['column_2'].std()

0.2774264526624408

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [18]:
df1['column_2'][2] == "test"

False

In [19]:
df1.loc[2][1] == 'test'

False

This will result into an error because it is an integer type of array. Secondly, if we try to find mean of an integer/float value, it will give an error because statistic parameters are only valid onto integer or float values

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Windows functions enables us to specify the the no of idex we want to apply a recurring operation on. For eg : if we want to apply average on pairs of 2's or 3's

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [20]:
import pandas as pd
from datetime import date
date.today()

datetime.date(2023, 7, 1)

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [22]:
a=input("Enter 1st date")
b=input("Enter 2nd date")

print(pd.to_datetime(a) - pd.to_datetime(b))

Enter 1st date 2023-07-08
Enter 2nd date 2023-07-02

6 days 00:00:00

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

import pandas as pd


file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ").split(",")


df = pd.read_csv(file_path)


df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)


sorted_df = df.sort_values(by=column_name)


print(sorted_df)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
file_path = input("Enter the file path: ")
pd.DataFrame(file_path)
pd.plotting.p