Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
l1 = pd.Series([4, 8, 15, 16, 23, 42])
l1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
l_1 = pd.Series(l)
l_1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    Name    Age    Gender
    Alice   25     Female
    Bob     30     Male
    Claire  27     Female

Then, print the DataFrame.

In [9]:
name = ['Alice', 'Bob', 'Claire']
age = [25,30,27]
gender = ['Female','Male','Female']
df = pd.DataFrame({'Name': name,'Age': age,'Gender': gender})
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A dataframe in pandas is a 2 dimensional array that contains data in tabular form. It is a collection of series or arrays. Series is a 1n dimentional array that contains a list of data. An array of series is called a dataframe.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas is a versatile python library that deals with data manupulation in datframes and series. Some of the functions are:
pd.dropna() to drop where null exists
pd.merge() to merge two dataframes
pd.join to join two dataframes

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

all 3 are mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
l1 = pd.Series(['a','b','c','d','e'])
l2pd.Series(['aa','bb','cc','dd','ee'])
pd.Series(['aaa','bbb','ccc','ddd','eee'])