Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is essentially a storehouse of all data . A server is called a database that bhas all the data in it. It can be locally hosted or be on cloud.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is data defination language which is used to define the structure of tables. DDL commands are applied to the table and not on the data inside it.

CREATE is used to make a new table

DROP is used to delete a table

ALTER is used to make changes to an existing table, add or remove a column

TRUNCATE used to remove all of the rows from a table, regardless of whether or not any conditions are met

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is data manupulation language.These queries are used to manipulate the data inside a table and not the structure

INSERT is used to add data to table

UPDATE is used to update an existing data

DELETE is used to remove a record

Q4. What is DQL? Explain SELECT with an example.

Data Query Language computer languages that are used to make various queries in information systems and databases.

Q5. Explain Primary Key and Foreign Key.

primary key uniqly identifies a record in a table

forign key is used to reference one table to another

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
mydb=mydb.cursor()

cursor is a pointer which executes all commands in sql

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM
WHERE
GROUP BY
HAVING
SELECT
ORDER BY